<!DOCTYPE html>
<html>
  <head>

	<link rel="stylesheet" type="text/css" href="style.css">	

	<script src="https://maps.googleapis.com/maps/api/js"></script>
	
	<script>
	  // declaration des cartes
      var map;

	  // la fenetre qui s'ouvre quand on passe la souris sur un point
	  var infowindow = new google.maps.InfoWindow();

	  // fonction d'initialisation
      function initialize() {
        var mapOptions = {
          zoom: 6,
          center: {lat:  46.55, lng: 2.4},
          mapTypeId: google.maps.MapTypeId.TERRAIN
        };
        map = new google.maps.Map(document.getElementById('map-categorie'),
          mapOptions);
	    // initialisation des cartes et chargement des donnees
	    [[CHARGER_JSON_CATEGORIE]]
	    
	    // fonction de style
	    var setColorStyleFn = function(feature) {
	      return {icon: feature.getProperty('icon')};
	    };
	    // style des cartes, et listener pour la fenetre qui s'ouvre quand on passe la souris sur un point
	    map.data.setStyle(setColorStyleFn);
	    map.data.addListener('mouseover', function(event) {
          infowindow.setContent(event.feature.getProperty('description'));
          infowindow.setPosition(event.latLng);
          infowindow.setOptions({pixelOffset: new google.maps.Size(0,-34)});
          infowindow.open(map);
        });
        google.maps.event.addListener(map, 'click', function() {
          infowindow.close(); // un clic sur la carte ferme les infowindows
        });
	  } // end initialize

      // appel de la fonction d'initialisation une fois la page chargee
      google.maps.event.addDomListener(window, 'load', initialize);
	</script>
	<meta charset="UTF-8">
  </head>

  <body>
    <h1>[[NOM_CATEGORIE]]</h1>

	<p><a href="./index.html">Page principale</a></p>
	
    <h2>Carte</h2>
    <div id="map-categorie" class="map-canvas"></div>

    <h2>Liste des points</h2>
	<table>
[[LISTE_POINTS_CATEGORIE]]
	</table>

  </body>

</html>
