<!DOCTYPE html>
<html>
  <head>

	<link rel="stylesheet" type="text/css" href="style.css">	

	<script src="https://maps.googleapis.com/maps/api/js"></script>
	
	<script>
	  // declaration des cartes
      var map;

	  // la fenetre qui s'ouvre quand on passe la souris sur un point
	  var infowindow = new google.maps.InfoWindow();

	  // fonction d'initialisation
      function initialize() {
        var mapOptions = {
          zoom: 6,
          center: {lat:  46.55, lng: 2.4},
          mapTypeId: google.maps.MapTypeId.TERRAIN
        };
        map = new google.maps.Map(document.getElementById('map-categories'),
          mapOptions);
	    // initialisation des cartes et chargement des donnees
[[CHARGER_JSON_CATEGORIES]]
	    
	    // fonction de style
	    var setColorStyleFn = function(feature) {
	      return {icon: feature.getProperty('icon')};
	    };
	  
	    // style des cartes, et listener pour la fenetre qui s'ouvre quand on passe la souris sur un point
	    map.data.setStyle(setColorStyleFn);
	    map.data.addListener('mouseover', function(event) {
          infowindow.setContent(event.feature.getProperty('description'));
          infowindow.setPosition(event.latLng);
          infowindow.setOptions({pixelOffset: new google.maps.Size(0,-34)});
          infowindow.open(map);
        });
        google.maps.event.addListener(map, 'click', function() {
          infowindow.close(); // un clic sur la carte ferme les infowindows
        });
	  
	  } // end initialize

      // appel de la fonction d'initialisation une fois la page chargee
      google.maps.event.addDomListener(window, 'load', initialize);
	</script>
	
	<script type="text/javascript" src="http://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
  <script type="text/javascript">
	window.onload = function () {

    var chart = new CanvasJS.Chart("chartContainer",
    {
      title:{
        text: "Budgets primitifs"  
      },
	  axisX:{
	    valueFormatString:  "####",
	    interval: 1
      },
	  axisY:{
	   valueFormatString:  "#,##0.##",
	   suffix: " euros"
      },
      data: [
      {        
        type: "spline",
	    legendText: "depenses",
	    showInLegend: true,
        dataPoints: [
		  [[DATA_DEPENSES]]
        ]
	  },
      {
        type: "spline",
	    legendText: "recettes",
	    showInLegend: true,
        dataPoints: [
		  [[DATA_RECETTES]] 
        ]
	  },
      ]
    });
	
    chart.render();
	}
  </script>
 <script type="text/javascript" src="./canvasjs.min.js"></script>
	
	<meta charset="UTF-8"> 
  </head>

  <body>
    <h1>Index</h1>

    <h2>Carte générale</h2>
    <div id="map-categories" class="map-canvas"></div>

	<h2>Graphes des budgets des villes</h2>
	<!--<div id="chartContainer" style="height: 300px; width: 100%;">!-->
  </div>
	
	<h2>Villes</h2>
	<ul>
	[[LISTE_PAGES_VILLES]]
	</ul>
  </body>

</html>
